* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    color: #0F2137;
    font-size: 18px;
    font-weight: 150;
    line-height: 2px;
    width: 400px;
    font-family: Sans Serif Collection;
}

.logo img {
    padding: 10px;

}

.logo ul a {
    color: #02073E;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 220px;
}
span {
    color: #0A8080;
}
.btn {
    display: flex;
    align-items: center;
    gap: 10px
}

.btn ul {
    padding-right: 100px;
}

li h6 span {
    color: #0A8080;
}



@media only screen and (max-width: 700px) {
    nav .menu_burger{
        display: block;
    }
    .btn{
        display: none;
    }
    .logo{
        position: absolute;
        top: 35px;
        left: 50px;
    }
    .links{
        top: 0;
        left: 0;
        display: block;
        position: absolute;
        background-color: rgba(249, 244, 244, 0.678);
        backdrop-filter: blur(7px);/*arrier flow*/
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        /* transform: translateX(100%);*/
        justify-content: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .about{
        margin: 8%;
    }
    .links.mobile-menu {
        margin-left: 0;
    }
    .links a {
        font-size: 2em;
    }
}




.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.popular h1{
    text-align: center;
    margin-top: 5%;
}