
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

/* nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    color: #0F2137;
    font-size: 18px;
    font-weight: 150;
    line-height: 2px;
    width: 400px;
    font-family: Sans Serif Collection;
}

.logo img {
    padding: 10px;

}

.logo ul a {
    color: #02073E;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 220px;
}
span {
    color: #0A8080;
}
.btn {
    display: flex;
    align-items: center;
    gap: 10px
}

.btn ul {
    padding-right: 100px;
}

li h6 span {
    color: #0A8080;
} */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(19, 184, 184, 0.10);
    padding-top: 30px;
    padding-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    color: #0F2137;
    font-size: 18px;
    font-weight: 150;
    line-height: 2px;
    font-family: Sans Serif Collection;
}

.logo img {
    padding: 10px;

}
nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.links a {
    color: #02073E;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px
}
.links a:hover{
    background-color: #0a8080be;
    border-radius: 0.8rem;
    padding: 10%;
}
span {
    color: #0A8080;
}
.btn {
    display: flex;
    align-items: center;
    gap: 10px
}

.btn ul {
    padding-right: 100px;
}

li h6 span {
    color: #0A8080;
}
.about:hover .drop-down {
    display: block;
}

.links .drop-down {
  position: absolute;
  padding: 0.5rem 0.5rem;
  background-color:#FBF5F1;
  display: none;
}

 nav .menu_burger{
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;

}
.footer{
    display: none;
}
@media only screen and (max-width: 700px) {
    nav .menu_burger{
        display: block;
    }
    .nav {
        background-color: #fff;
      }
    .btn{
        display: none;
    }
    .logo{
        position: absolute;
        top: 35px;
        left: 50px;
    }
    .links{
        top: 0;
        left: 0;
        display: block;
        position: absolute;
        background-color: rgba(249, 244, 244, 0.678);
        backdrop-filter: blur(7px);/*arrier flow*/
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        /* transform: translateX(100%);*/
        justify-content: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .about{
        margin: 8%;
    }
    .links.mobile-menu {
        margin-left: 0;
    }
    .links a {
        font-size: 2em;
    }
    .speak{
        display: none;
    }
    .frequent{
        max-width: 400px;
    }
    .us_contact{
        margin-top: 11%;
    }
    .help{
        padding-top: %;
    }
    form{
        margin-left: 20%;
    }
    footer div{
        display: none;
    }
     .footer{
        display: block;
        background-color: rgba(19, 184, 184, 0.10);
    }
    .foot_logo{
        display: flex;
        align-items: center;
        gap: 2%;
        margin-left: 5%;
        padding-top: 3%;
        
    }
    .flexi{
        display: flex;
        align-items: center;
    
        gap: 5%;
       margin: 7%;
    }
}
.us_contact{
    text-align: center;
    padding-top: 5%;
}
/* .home-text {
    color: #000;
    font-family: B612;
    font-size: 25px;
    font-style: normal;
    line-height: 50px;
    position: absolute;
    left: 200px;
    margin-top: 2%;
} */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
/* .pic {
    margin-top: 18%;
} */

/* .contact_section {
    width: 50%;
    border: none;
    height: 50px;
} */

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;

}


.help{
    font-size: 25px;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 90px;
}
input {
    width: 260%;
    height: 50px;
    background: rgba(19, 184, 184, 0.40);
    border-radius: 15px;
    border: none;
    margin: 5%;
}
textarea{
    width: 260%;
    background: rgba(19, 184, 184, 0.40);
    border-radius: 15px;
    border: none;
    margin: 5%;
    padding: 10%;
}
 /* textarea::placeholder{
    padding-top: 5%;
    padding-left: 5%;
} */
input::placeholder{
    padding-left: 6%;
}
#message {
    height: 200px;
}

button {
    background: rgba(19, 184, 184, 0.40);
    border: none;
    height: 40px;
    border-radius: 13px;
    padding: 30%;
}

.submit {
    margin-right: 230%;
}
.frequent{
    width: 600px;
    background-color: rgba(169, 169, 169, 0.219);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 40px;

}

.answer {
    display: none;
    margin: 2%;
    line-height: 150%;
    background-color: rgba(19, 184, 184, 0.10) ;
    padding: 3%;
}
.answer.open{
    display: block;
}


/* footer {
    display: flex;
   margin-left: 16%;
   
  }
  footer div{
      width: 20%;
  
  }
  footer div h1{
      font-size: 20px;
      font-weight: 10;
      margin-bottom :40px;
  }
  .footer-link{
      color: #02073E;
      font-size: 15px;
  font-weight: 400;
  line-height: 250%;
  } */
  footer {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-top: 50px;
   background-color: #13b8b81a ;
  }
  footer div{
      width: 20%;
  
  }
  footer div h1{
      font-size: 20px;
      font-weight: 10;
      margin-bottom :40px;
  }
  .footer-link{
      color: #02073E;
      font-size: 15px;
  font-weight: 400;
  line-height: 250%;
  }

