.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.about {
    color: #000;
    font-size: 60px;
    font-weight: 550;
    line-height: 30px;
    margin-left: 1%;
    margin-right: 52%;
    margin-bottom: 8%;
}
.about_text {
    color: #000;
    font-family: DM Sans;
    font-size: 23px;
    font-weight: 350;
    line-height: 35px;
   
}
.list {
    position: absolute;
    margin-top: 3%;
    font-weight: 700;
}

.list_about {
    display: flex;
    align-items: center;
    gap: 190px;
    list-style: none;
}
.line_1{
    width: 230px;
height: 6.35px;
border-radius: 5px;
background: #0A8080;
position: absolute;
top: 240%;
}
.service{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    display: grid;
  grid-template-columns: auto auto auto;
  gap:10px;
}
.text_service{
    line-height: 30px;
    display: flex;
    align-self:center;
}
.done{
    display: flex;
    justify-content: center;

}
.done1{
 flex-direction: row;
}
.idea_pic{
    width: 80%;
}
.promise{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    
}
.succeful_pic{
    width: 80%;
}
.plan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 5%;
    padding-left: 7%;
}
.plan_pic{
    width: 85%;
}
.model{
    font-size: 30px;
    font-weight: 550;
    
}
.model_text{
    line-height: 30px;
}