.home-text {
    color: #000;
    font-family: B612;
    font-size: 25px;
    font-style: normal;
    line-height: 50px;
    position: absolute;
    left: 200px;
    margin-top: 2%;
}

.pic {
    margin-top: 18%;
}

.contact_section {
    width: 30%;
    border: none;
    height: 50px;

    margin-left: 55%;
    display: flex;
    align-items: center;


}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 230%;
    margin-left: 35%;

}

input {
    width: 260%;
    height: 50px;
    background: rgba(19, 184, 184, 0.40);
    border-radius: 15px;
    border: none;
    margin: 5%;
}
input::placeholder{
    padding-left: 5%;
}
#message {
    height: 200px;
}

button {
    background: rgba(19, 184, 184, 0.40);
    border: none;
    height: 40px;
    border-radius: 15px;
    padding-right: 90%;
}

.submit {
    margin-right: 230%;
}

